
@{
    ViewData["Title"] = "Index2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Registro de usuarios</h1>
<p>Puedes entrar en el sistema para poder ver los usuarios que hay registrados en la web.</p>

